.Home__LaunchesSection {
    height: 100vh;
    background-image: url(../assets/falcon9.jpg);
    background-size: cover;
}

.Home__LaunchesSection h1 {
    width: 50vw;
    font-size: 70px;
    color: #1E1E1E;
    padding: 80px 20px 20px 30px;
}