.Navbar {
  background-color: #1E1E1E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .Navbar__logo {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }
  
  .Navbar__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .Navbar__item {
    margin: 0 1rem;
  }
  
  .Navbar__link {
    color: #fff;
    text-decoration: none;
  }
  